body {
  background-color: black;
  color: white
}

.input{
  height: 50px;
  border-radius: 30px;
  margin: 10px;
  padding: 5px;
}

#movieInput{
  width: 400px;
}

#yearInput{
  width: 200px;
}

.resultDiv{
  width: 450px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -225px 0 0 -225px;
  
}

.button{
  margin-left: 20px;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  border: 2px solid red;
}

.button:hover{
  background-color: red;
  color: white;
  border: 2px solid white;
}

#movieTitle{
  color:Red;
}

.flexDiv{
  display: flex;
}

.flexDiv img {
  height: 350px;
  width: auto;
  margin: 10px;
}

.infosDiv{
  margin: 10px;
  height: 350px;
  width: 800px;
  overflow: scroll;
}

.noMovie{
  text-align: center;
  vertical-align: middle;
}